{
    "root": true,
    "env": {
        "browser": true,
        "node": true,
    },
    "globals": {
        "Promise": false,
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "comma-spacing": [2, {
            "before": false,
            "after": true,
        }],
        "curly": ["error", "all"],
        "function-paren-newline": ["error", "multiline"],
        "function-call-argument-newline": ["error", "consistent"],
        "indent": ["error", 4],
        "key-spacing": "error",
        "quotes": ["error", "single", {
            "avoidEscape": true,
        }],
        "semi": ["error", "always"],
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never",
        }],
        "no-extra-semi": "error",
        "no-shadow": ["error", {
            "builtinGlobals": false,
            "hoist": "functions",
            "allow": []
        }],
        "no-undef": "error",
        "no-useless-escape": "error",
        "object-curly-newline": ["error", {
            "ObjectExpression": {
                "multiline": true,
                "consistent": true,
                "minProperties": 3,
            },
            "ObjectPattern": {
                "multiline": true,
                "consistent": true,
                "minProperties": 3,
            },
        }],
        "object-curly-spacing": ["error", "always"],
        "operator-linebreak": ["error", "before"],
        "semi-style": ["error", "last"],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "space-unary-ops": ["error", {
            "words": false,
            "nonwords": false,
        }],
        "strict": "error",
        "wrap-iife": ["error", "outside", {
            "functionPrototypeMethods": true,
        }],
    },
    "ignorePatterns": [ "syntax-error.*" ],
    "overrides": [
        {
            "files": ["*.mjs", "test/import/package_type/*.js"],
            "extends": "@ljharb/eslint-config/esm",
        },
        {
            "files": ["bin/import-or-require.js"],
            "parserOptions": {
                "ecmaVersion": 2020,
            },
        },
        {
            "files": ["test/async-await/*"],
            "parserOptions": {
                "ecmaVersion": 2017,
            },
        },
        {
            "files": ["example/**", "test/**"],
            "globals": {
                "g": false,
            },
        },
    ],
}
