{
    "root": true,
    "env": {
        "browser": true,
        "node": true,
    },
    "globals": {
        "Promise": false,
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "comma-spacing": [2, {
            "before": false,
            "after": true,
        }],
        "indent": ["error", 4],
        "key-spacing": "error",
        "quotes": ["error", "single", {
            "avoidEscape": true,
        }],
        "semi": ["error", "always"],
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never",
        }],
        "no-extra-semi": "error",
        "no-undef": "error",
        "no-useless-escape": "error",
        "operator-linebreak": ["error", "before"],
        "semi-style": ["error", "last"],
        "space-infix-ops": "error",
        "space-unary-ops": ["error", {
            "words": false,
            "nonwords": false,
        }],
        "strict": "error",
        "wrap-iife": ["error", "outside", {
            "functionPrototypeMethods": true,
        }],
    },
    "ignorePatterns": [ "syntax-error.*" ],
    "overrides": [
        {
            "files": ["*.mjs", "test/import/package_type/*.js"],
            "extends": "@ljharb/eslint-config/esm",
        },
        {
            "files": ["bin/import-or-require.js"],
            "parserOptions": {
                "ecmaVersion": 2020,
            },
        },
        {
            "files": ["test/async-await/*"],
            "parserOptions": {
                "ecmaVersion": 2017,
            },
        },
        {
            "files": ["example/**", "test/**"],
            "globals": {
                "g": false,
            },
        },
    ],
}
