{
    "root": true,
    "env": {
        "browser": true,
        "node": true,
    },
    "globals": {
        "Promise": false,
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4],
        "key-spacing": "error",
        "quotes": ["error", "single", {
            "avoidEscape": true,
        }],
        "semi": ["error", "always"],
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never",
        }],
        "no-undef": "error",
        "no-useless-escape": "error",
        "operator-linebreak": ["error", "before"],
        "space-unary-ops": ["error", {
            "words": false,
            "nonwords": false,
        }],
        "strict": "error",
    },
    "overrides": [
        {
            "files": ["test/async-await/*"],
            "parserOptions": {
                "ecmaVersion": 2017,
            },
        },
        {
            "files": ["example/**", "test/**"],
            "globals": {
                "g": false,
            },
        },
    ],
}
